@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Monserrat", sans-serif;
  box-sizing: border-box;
}
.page {
  margin: 0 auto;
  max-width: 1900px;
  overflow-x: hidden;
  position: relative;
}

.page--spacing {
  padding: 0 48px;
}

.custom-mt-24:not(:first-of-type) {
  @apply mt-24;
}

.w-265 {
  width: 265px;
}

@media only screen and (max-width: 960px) {
  .page--spacing {
    padding: 0 36px;
  }
}

@media only screen and (max-width: 480px) {
  .page--spacing {
    padding: 0 16px;
  }
}
